<p id="notice"><%= notice %></p>

<p>
 <strong><%= @ingredient_group.name %></strong>
</p>

<table>
  <% @ingredients.each do |ingredient| %>
  <tr>
    <td>
      <%= image_tag("Ingredient/"+@ingredient_group.name+"/"+ingredient.name+".jpg",
	  :alt => "Ingredient") %>
	  <%= link_to ingredient.name, ingredient %></td>
  </tr>
  <% end %>
</table>


<%= link_to 'Back', ingredient_groups_path %>
