<p id="notice"><%= notice %></p>

<p>
  <strong>Recipeid:</strong>
  <%= @favorite.recipeid %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @favorite.userid %>
</p>

<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
