<%= form_for(@comment) do |f| %>
   <div class="field">
     <%= f.label :recipe %><br>
    <%= collection_select(:recipes,:id,@all_recipes,:id,:title,{},{})%>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= collection_select(:users,:id,@all_users,:id,:username,{},{})%>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
