<p id="notice"><%= notice %></p>

<p>
  <strong>Recipeid:</strong>
  <%= @comment.recipeid %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @comment.userid %>
</p>

<p>
  <strong>Isban:</strong>
  <%= @comment.isban %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
