<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @recipe.userid %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Isban:</strong>
  <%= @recipe.isban %>
</p>

<p>
  <strong>Imageid:</strong>
  <%= @recipe.imageid %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
