<p id="notice"><%= notice %></p>

<p>
  <strong>recipe:</strong>
  <%= @recipe.id %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @recipe.userid %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <% @ingredients.each do |i| %>
  <%= i.name %>
  <% end %>
</p>

<p>
  <strong>Types:</strong>
  <% @types.each do |i| %>
  <%= i.name %>
  <% end %>
</p>

<!--<p>
    <strong>Isban:</strong>
    <%= @recipe.isban %>
</p>-->

<!--<p>
    <strong>Imageid:</strong>
    <%= @recipe.imageid %>
</p>-->

<% if signed_in? %>
<div id="favorite">

  <%= form_for(@favorite) do |f| %>  
  <%= f.hidden_field :recipeid,:value => @recipe.id %>
  <div class="actions">
    <!--user hasn't added it to favorite-->
    <% if Favorite.find_by(userid: current_user.id,recipeid:
    @recipe.id).nil? %>
    <%= f.submit 'Like' %>
    <% else %>
    <!--user has already added it into favorite-->
    <%= f.submit 'Dislike' %>
    <% end %>
  </div>
  <% end %>

</div>
<% end %>


<!-- for showing existed comments -->
<div id="comment">
  <h2>Comments:</h2>
  <% @comments.each do |comment| %>
  <p>
    <strong><%= User.find(comment.userid).name %>:</strong>
    <%= comment.comment %>
  </p>
  <% end %>
</div>

<!-- for adding a new comment -->
<% if signed_in? %>
<div id="add_comment">

  <%= form_for(@comment) do |f| %>

  <%= f.hidden_field :recipeid,:value => @recipe.id %>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>
<% end %>


