<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @recipe.userid %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <% @ingredients.each do |i| %>
  <%= i.name %>
  <% end %>
</p>

<p>
  <strong>Types:</strong>
  <% @types.each do |i| %>
  <%= i.name %>
  <% end %>
</p>

<!--<p>
  <strong>Isban:</strong>
  <%= @recipe.isban %>
</p>-->

<!--<p>
  <strong>Imageid:</strong>
  <%= @recipe.imageid %>
</p>-->

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>


<div id="comment">
<!-- for showing existed comments -->
  <% @comments.each do |comment| %>
  <% if comment.isban == true %>
  
  <p>
    <strong><%= User.find(comment.userid).username %>:</strong>
    <%= comment.comment %>
  </p>

  <% end %>
  <% end %>

<!-- for adding a new comment -->
  <%= form_for @comment do |f| %>
  
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% f.hidden_field :@recipe.id
  <% end %>
</div>
