<p id="notice"><%= notice %></p>

<p>
  <strong>Recipeid:</strong>
  <%= @type_set.recipeID %>
</p>

<p>
  <strong>Typeid:</strong>
  <%= @type_set.typeID %>
</p>

<%= link_to 'Edit', edit_type_set_path(@type_set) %> |
<%= link_to 'Back', type_sets_path %>
