<p id="notice"><%= notice %></p>

<p>
  <strong>Recipeid:</strong>
  <%= @ingredient_set.recipeid %>
</p>

<p>
  <strong>Ingredientid:</strong>
  <%= @ingredient_set.ingredientid %>
</p>

<p>
  <strong>Amountnum:</strong>
  <%= @ingredient_set.amountnum %>
</p>

<p>
  <strong>Unitofmeasure:</strong>
  <%= @ingredient_set.unitofmeasure %>
</p>

<%= link_to 'Edit', edit_ingredient_set_path(@ingredient_set) %> |
<%= link_to 'Back', ingredient_sets_path %>
