<!DOCTYPE html>
<html>
<head>
  <title>Niceweather</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "users",users_path %>
<%= link_to "recipes",recipes_path %>
<%= link_to "comments",comments_path %>
<%= link_to "favorites",favorites_path %>
<%= link_to "ingredients",ingredients_path %>
<%= link_to "ingredient_sets",ingredient_sets_path %>
<%= link_to "ingredient_groups",ingredient_groups_path %>
<%= link_to "types",types_path %>
<%= link_to "type_sets",type_sets_path%>

<%= yield %>

</body>
</html>
