<!DOCTYPE html>
<html>
  <head>
    <title>Niceweather</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="content.css" />
  </head>
  <body>
    
    <div id="header">

      <div id="logo">
	<p>Logo</p>
      </div>

      <div id="nav">
	<ul class="person">
	  <% if signed_in? %>
	  <li><%= link_to_unless_current "Make New Recipe",new_recipe_path %></li>
	  <li><%= link_to_unless_current "My Recipes",recipes_path %></li>
	  <li><%= link_to_unless_current "My Favorites",favorites_path %></li>
	  <li><%= link_to_unless_current "Setting", edit_user_path(current_user)%></li>
	  <li><%= link_to_unless_current "Log Out", signout_path, method: "delete" %></li>
	  <% else %>
	  <li> <%= link_to_unless_current "Log In", signin_path %></li>
	  <li> <%= link_to_unless_current "Register", register_path%></li>
	  <% end %>
	</ul>
      </div>

	<ul class="menu">
	  <li><%= link_to_unless_current "Home",controller: "home" %></li>
	  <li><%= link_to_unless_current "Search By Ingredients",controller: "ingredient_groups" %></li>
	</ul>
    </div>


    <ul id="dropdown">
      <p>Types</p>
      <% Type.all.each do |type| %>
      <li>
	<%= link_to_unless_current type.name, type %></li>
      <% end %>
    </ul>

    <div id="content">
      <%= yield %>
    </div>


    <div id="footer">
      aaaaaaaaaaaaa
    </div>
</div>


<% flash.each do |key,value|%>
<p><%= value %></p><% end %>
</body>
</html>
